<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play BlackJack</title>
</head> 
<body>
    {{ content }}
    <form action="#" method="post">
        <p>Dealer Sum: {{ dealer_card }}
        <p>Your Sum:   <input type="text" name="guess" id="guess" value={{player_card}}>
        <p>Usable Ace: {{ usable_ace }}
        <p>Reward: {{ reward }} 
        <p>Seed: {{ seed }}
        <p>Last Action: {{ last_action }}
        <p>Input Seed:  <input type="text" name="seed" id="seed" value={{seed}}></p>
        <p><input type="submit" name="HitStick" value="Hit"><input type="submit" name="HitStick" value="Stick">
            <input type="submit" name="HitStick" value="Reset">
    </form>
 

</body>
</html>